<div class='card'>
    <div class='card-header'>
        <b>{{pageTitle}}</b>
    </div>

    <div class='card-body'>
        <button class='btn btn-primary' (click)='getRandomGif()'>
            Select gif
        </button>
        <!-- <div>{{selectedGif}}</div> -->
        <div>
            <img [src] = 'selectedGif'>
        </div>
        <div class='table-responsive'>
            <table class='table'>
                <thead>
                    <tr>
                        <th>
                            <button class='btn btn-primary'>
                                Add Player
                            </button>
                        </th>
                        <th>Wins</th>
                        <th>Pass Available</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let player of players'>
                        <td>{{player.name}}</td>
                        <td>{{player.wins}}</td> <!-- win be a list with gif details and get length? -->
                        <td>{{player.pass}}</td>
                        <td>
                            <button class='btn btn-primary'>
                                ...
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>